body {
    position: relative;
}

.background {
    background: url(./background.jpg) no-repeat;
    background-size: 700px 384px;
    position: relative;
    width: 100%;
}

.background.top {
    background-position: right bottom;
    height: 170px;
}

.background.bottom {
    background-position: top;
    top: -50px;
    height: 300px;
}

.searchbar {
    border: 2px solid #000;
    border-radius: 17px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    left: 30px;
    line-height: 30px;
    height: 34px;
    padding: 0px 15px;
    top: 60px;
    width: 200px;
}

.searchbar input {
    font-size: 14px;
    padding: 0 5px 0 20px;
}

#background {
    display: none;
    height: 0;
    width: 0;
}

#card {
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0px 20px 30px;
    position: relative;
    top: 0px;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
}

#button-close {
    top: 15px;
    right: 10px;
}

#search {
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0px 20px 20px;
    position: relative;
    top: 0px;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
}

#search .title {
   font-size: 20px;
   font-weight: bold;
}

.address {
   font-size: 12px;
}

.about {
    border-radius: 0;
    padding: 20px 24px;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -20px;
}

.about .background.overlay {
    background-position: top;
    bottom: -280px;
    display: block;
    height: 300px;
    left: 0;
    position: absolute;
}

#card .about .title {
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.about p {
    font-size: 16px;
    position: relative;
    margin: 12px 0;
}

.button-container {
    margin-top: 0px;
}

.button.enabled:hover {
    transform: translate(-50%, 0);
}

.about > div {
   margin: 20px 0;
}
